@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Circular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #191414;
  color: #FFFFFF;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #191414;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: inherit;
}
